* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

html,
body,
:root {
  height: 100%;
}

body {
  background: url("bg-image.svg") no-repeat center;
  background-size: cover;
  padding: 10px 40px;
}

.container {
  padding: 40px 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.info {
  text-align: center;
  color: white;
  padding-inline: 100px;
}

.info h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}

.info p {
  font-size: 2rem;
}

form {
  background-color: rgba(255, 255, 255, 0.181);
  padding: 18px 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  column-gap: 14px;
  row-gap: 10px;
  width: 600px;
}

label {
  color: white;
  font-size: 0.875rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 8px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

input::placeholder {
  color: #cdd5e0;
}

.message {
  grid-column: 1 / -1;
}

textarea {
  padding: 10px 8px;
  resize: none;
  border-radius: 10px;
}

.btn {
  grid-column: 1 / -1;
  font-size: 1.25rem;
  font-weight: bold;
  color: #4036a9;
  padding-block: 10px;
  border-radius: 10px;
  border: none;
}
